<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="campaign.css">
  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
  <title></title>
</head>

<body>

    <header>

      <!--Main Navigation-->

      <nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo "  id="navbar">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <!-- <li class="nav-item active">
                      <a class="nav-link testColor" href="#">Home <span class="sr-only">(current)</span></a>
                  </li> -->
                  <li class="nav-item">
                                   </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link active" href="/login">Login</a>
                  </li> -->
              </ul>
              <h4 id="Welcome"><strong>Welcome To Promise, Where Giving One Is Raising One</strong></h4>

              <div class="form-inline my-2 my-lg-0">
                <a href="/logout"><button class="btn btn-outline-danger my-2 my-sm-0 margin left" >Logout</button></a>
      </div>
          </div>
      </nav>
        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
     <a href="/login"><button class="btn btn-outline-danger my-2 my-sm-0 margin" >Login</button></a>
     <a href="/signup">  <button class="btn btn-outline-primary my-2 my-sm-0 margin">Signup</button> -->
     <section class="Welcome">
   </section>
   </header>


  <h1>Campaign Form</h1>

  <section class="container">
    <section class="childContainer">
      <p>Please feel out this form to process your information to our donors</p>
      <form action="/submission" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <input type="text" name="fullName" class="form-control" id="formGroupExampleInput" placeholder="Full Name" required>
        </div>


        <div class="form-group">
          <input type="text" name="name" class="form-control" id="formGroupExampleInput" placeholder="Name" required>
        </div>


        <!-- <div class="form-group">
          <input type="text" name="fullName" class="form-control" id="formGroupExampleInput" placeholder="Fullname" required>
        </div> -->
        <!-- <div class="form-group">
          <input type="file" name="file-to-upload">
        </div> -->
        <div class="form-group">
          <input type="text" name="description" class="form-control" id="formGroupExampleInput2" placeholder="Description" required>
        </div>
        <div class="form-group">
          <input class="color" type="file" name="file-to-upload">
        </div>

        <div class="form-group">
          <input type="number"  name="amount" class="form-control" id="formGroupExampleInput2" placeholder="Amount to raise" required>
        </div>
        <div class="form-group">
          <input type="date" name="date" class="form-control" id="formGroupExampleInput2" placeholder="Date" required>
        </div>

        <div class="form-group">
          <input type="text" name="homeAddress" class="form-control" id="formGroupExampleInput2" placeholder="Home Address" required>
        </div>
        <div class="form-group">

          <input type="text" class="form-control" name="itemsTodonate" placeholder="Items to Donate, Use Commas">
          <br>
          <select class="" name="category">
                <option value="Education">Education</option>
                <option value="Tech">Tech</option>
                <option value="Food">Food</option>
                <option value="Environment">Environments</option>
                <option value="Clothes">Clothes</option>

          </select>
        </div>
        <button class="left01"type="submit" value="Upload">Submit</button>

      </form>
      <!-- <button> <a class="logout" href="/logout">Logout</a></button> -->

    </section>
  </section>


  <!-- <form action="/qpPost" enctype="multipart/form-data" method="post">
             <input type="text" name="caption" value="">
             <input type="file" name="file-to-upload">
             <input type="submit" value="Upload">
  script         </form> -->

  <footer class="page-footer font-small teal pt-4 " id="colorFooter">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">About Us</h5>
          <p>Promise is aimed to focused on providing support for reducing poverty</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Contact Information</h5>
        <ul>
           <li> Malden, MA</li>
          <li>JohnbelDev@gmail.com</li>
        </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Promise
      <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->

  </footer>
  <script type="text/javascript" src="scroll.js">

  </script>
</body>

</html>
