<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="campaign.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title></title>
</head>

<body>
  <header>
    <nav>
      <!-- <h2>hello</h2> -->
    </nav>
    <hr>

  </header>
  <h2>Campaign form</h2>
  <section class="container">
    <section class="childContainer">
      <p>Please feel out this form to process your information to our donors</p>

      <form action="/submission" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <input type="text" name="fullName" class="form-control" id="formGroupExampleInput" placeholder="Fullname" required>
        </div>

        <!-- <div class="form-group">
          <input type="text" name="fullName" class="form-control" id="formGroupExampleInput" placeholder="Fullname" required>
        </div> -->
        <!-- <div class="form-group">
          <input type="file" name="file-to-upload">
        </div> -->
        <div class="form-group">
          <input type="text" name="description" class="form-control" id="formGroupExampleInput2" placeholder="Description" required>
        </div>
        <div class="form-group">
          <input class="color" type="file" name="file-to-upload">
        </div>

        <div class="form-group">
          <input type="number"  name="amount" class="form-control" id="formGroupExampleInput2" placeholder="Amount to raise" required>
        </div>
        <div class="form-group">
          <input type="date" name="date" class="form-control" id="formGroupExampleInput2" placeholder="Date" required>
        </div>

        <div class="form-group">
          <input type="text" name="homeAddress" class="form-control" id="formGroupExampleInput2" placeholder="HomeAdress" required>
        </div>
        <div class="form-group">

          <input type="text" name="itemsTodonate" placeholder="Enter items to donate separated by commas">

          <select class="" name="category">
                <option value="Education">Education</option>
                <option value="Tech">Tech</option>
                <option value="Food">Food</option>
                <option value="Environment">Environments</option>
                <option value="Clothes">Clothes</option>

          </select>
        </div>
        <button type="submit" value="Upload">Submit</button>
      </form>
    </section>
  </section>


  <!-- <form action="/qpPost" enctype="multipart/form-data" method="post">
             <input type="text" name="caption" value="">
             <input type="file" name="file-to-upload">
             <input type="submit" value="Upload">
           </form> -->
</body>

</html>
