<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form class="" action="donatenow" method="post">
    <input type="number" name="" value="" placeholder="donate" required>
    <input type="number" name="" value="" placeholder="donate" required>
    </form>
  </body>
</html>
