body{
  background-color: #F5F5DC!important;
}
#card{
  color: red;
  background-color: white;
  border: 1px solid red;
}
.topcontainer{
  height: 23rem;
  background-color: #D3D3D3	;
  margin-top: 1%;
}
.child{
  padding-top: 4%;
  margin-left: 14%;

}
h2{
  margin-left: 12%;
  padding-top: 9%;
  color:green

}
