.form-group{
  width: 40%;
  margin-left: 29%;
  margin-bottom: 5%;
  margin-top: 5%;

}
.color{
  color: white;
}
.childContainer{
  padding-top: 4%;
}
p{
  color: white;
}
.container{
  width:80%;
  height: 62rem;
  background-color: blue;
}
h2{
  text-align: center;
  color:red;
}
input{
  display: block;
}
.card{
  display: inline-block;
  margin-left: 20%;
}
/* .col-sm-6{
  display: none;
} */
.fund{
  width: 90%;
}
.formInput{
  margin-left: 50%;
}
