body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: lightblue;
}
img{
  height: 200px;
}
h2{
  text-align: center;
}
input{
  display: block;
}
.card{
  display: inline-block;
  margin-left: 20%;
}
/* .col-sm-6{
  display: none;
} */
.fund{
  width: 90%;
}
.formInput{
  margin-left: 50%;
}
